/* html { filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); } */
body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,form,fieldset,input,table,td,img,a,div,span,strong,em{margin:0;padding:0;}
/*body{background-color:#C0C0C0;} body{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#063972; background-image:url(/images/body_bg.jpg); background-repeat:repeat-x;}*/
body{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#063972;background-color:#9E0E0C; background-repeat:repeat-x;}
a:link {color:#063972; text-decoration: none}
a:visited {color:#063972; text-decoration: none}
a:active {color:#063972; text-decoration: none; position:relative; top:1px; }
a:hover {color:#063972; text-decoration: none;position:relative; top:1px;}
a img{ border:0;}
.input100{width:100px; height:18px; border:solid 1px #999; }
table{ border-collapse:collapse;}
.tdright{ text-align:right;}
.tdleft{ text-align:left;}
.tdboder_ccc{ border:solid 1px #ccc; border-collapse:collapse;}
.tdcenter{ text-align:center;}
.tdtop{ vertical-align:top;}
.tdmiddle{ vertical-align:middle;}
.tdbottom{ vertical-align:bottom;}
.width986{ width:986px;}
.width984{ width:984px;}
.height30{ height:30px;}
.height22{ height:22px;}
.height24{ height:24px;}
.height40{ height:40px;}
.height50{ height:50px;}
.height60{ height:60px;}
.height70{ height:70px;}
.height80{ height:80px;}
.color1E7FA2{ color:#1E7FA2;}
.marginTop1{ margin-top:1px;}
.marginTop2{ margin-top:2px;}
.marginTop3{ margin-top:3px;}
.marginTop4{ margin-top:4px;}
.marginTop5{ margin-top:5px;}
.marginTop6{ margin-top:6px;}
.marginleft5{ margin-left:5px;}
.marginleft6{ margin-left:6px;}
.marginleft7{ margin-left:7px;}
.marginleft15{ margin-left:15px;}
.marginleft18{ margin-left:18px;}
.marginleft22{ margin-left:22px;}
.marginleft23{ margin-left:23px;}
.marginleft25{ margin-left:25px;}
.marginleft35{ margin-left:35px;}
.marginleft50{ margin-left:50px;}
.btnbg{ background-image:url(/images/btnbg.jpg); color:White; width:46px; height:20px; border:0}
.width100fz100{width:100%}
.tblist{ width:100%; margin:3px 0;}
.tblist td{border:solid 1px #D3D4D6;}
.tblist td.width20{ width:20px;}
.tblist td.width30{ width:30px;}
.tblist td.width60{ width:60px;}
.tblist td.width80{ width:80px;}
.tblist td.width100{ width:100px;}
.tblist td.width120{ width:120px;}
.tblist td.width150{ width:150px;}
.tblist td.tdright{ text-align:right;}
.tblist td.tdleft{ text-align:left;}
.tblist td.tdcenter{ text-align:center;}
.width100fz99{width:99%}
.width100fz98{width:98%}
.width100fz97{width:97%}
.width100fz96{width:96%}
.hidden{ display:none;}
.bginput {
	border:1px solid #a7a6aa;
	background:url(/images/input.gif);
	height:20px;
	margin-left:1px;
}
