#indexnewsleft{ position:absolute; width:252px; right:0px;top:0px; border-left:solid 1px #FFF7D8; height:340px; }
#indexnewsleft p{font-size:16px; height:35px; line-height:35px;background-image:url(/images/sprite_bg.png); background-position:0 -286px;}
#indexnewsright{ position:absolute; left:7px; top:10px; width:713px; }
.listtitle{ height:30px; line-height:30px; background-image:url(/images/sprite_bg.png); background-position:0 -75px;  }
#indexnewsleft a{line-height:24px; font-size:14px; overflow:hidden; height:24px;}
.ScrollNotice{height:48px; width:232px; margin:0 auto; overflow:hidden; }
.ScrollNotice li{ line-height:24px; list-style:none; }
.ScrollNotice li a{ line-height:24px; text-decoration:underline; font-size:12px; float:left; clear:both; }
.topNotice{height:24px; width:750px; margin-left:3px; overflow:hidden;}
.topNotice li{ line-height:24px; list-style:none; }
.topNotice li a{ line-height:24px; text-decoration:underline; font-size:12px; float:left; clear:both; }
.topkey{border:solid 1px #ccc; height:100px; margin:0px auto; line-height:30px; margin-top:2px;overflow: hidden; }
.advitem{ width:328px;float:left; }
.advitem p{ clear:both; }
.itemleft{ width:329px;}
.itemleft p{ font-size:16px; height:35px; line-height:30px;background-image:url(/images/sprite_bg.png); background-position:0 -286px; position:relative;}
.itemleft p a.itemtitle{ position:absolute;left:25px;top:0px; max-width:255px; overflow:hidden; }
.itemleft p a.itemmore{position:absolute; right:3px;top:0px;}
.itemleft ul li{ position:relative; list-style:none; }
.itemleft ul li a.title{  line-height:24px;}
.itemleft ul li a.newstime{ position:absolute; right:5px; }
.itemcenter{ width:329px; position:absolute; left:329px;top:0;}
.itemcenter ul li{ position:relative; list-style:none;}
.itemcenter p{ font-size:16px; height:35px; line-height:30px;background-image:url(/images/sprite_bg.png); background-position:0 -286px;}
.itemcenter p a.itemtitle{ position:absolute; left:25px;top:0px; }
.itemcenter p a.itemmore{position:absolute; right:3px;top:0px;}
.itemcenter ul li a.title{ width:320px; height:24px; line-height:24px;overflow:hidden;}
.itemcenter ul li a.newstime{ position:absolute; right:5px; }
.itemright{ width:329px; position:absolute; right:0px;top:0; }
.itemright ul li{ position:relative; list-style:none;}
.itemright p{ font-size:16px; height:35px; line-height:30px;background-image:url(/images/sprite_bg.png); background-position:0 -286px;}
.itemright ul li a{ width:329px; height:24px; line-height:24px;  overflow:hidden;}
.itemright ul li a.newstime{ width:70px; position:absolute; right:5px; }
.itemright p a.itemtitle{ position:absolute; left:25px;top:0px; }
.itemright p a.itemmore{position:absolute; right:3px;top:0px;}
.bottom{ text-align:center; line-height:24px; }
.item-list{ list-style: none;}
.item-list li{ line-height: 24px;}
.yyadv {
    border: solid 1px # red;
    width:639px;
    height:266px; 
}




