.header-box {
    border: solid 1px #ccc;
    background-color: white;
    width: 1000px;
    margin: 0 auto; 
}
.headmsg {
    line-height: 25px;
    background-image:url(/images/TopDate.gif);
}
.headlogo-box {
    height: 88px;
    border-top: 0;
    border-bottom: 0;
    background-image:url(/images/logoinline.gif); background-repeat:repeat-x;
}
.listrow {
    
}