/* CSS Document */
#top{ width:1002px; height:258px;margin:0 auto; background-color:#FFF; vertical-align:top;}
#body{ width:1002px; height:auto; margin:0 auto; background-color:#FFF}
#recomm{ width:986px; height:302px;margin:0 auto; background-color:#FFF}
#releft{ width:715px; height:302px;}
#tbrecommcontent{ width:100%;}
#recomm #hottitle{ height:30px; background-image:url(/images/bg4.jpg); border:solid 1px #A1ACB0}
#recomm #ppt{ width:265px; height:272px; border:solid 1px #A1ACB0; text-align:left; vertical-align:top;}
#recomm #ppt #down{ margin-top:5px; line-height:24px;}
#recomm #ppt ul{ list-style:none; float:left;}
#recomm #ppt li{ float:left; margin:0 2px;}
#recomm #list{border:solid 1px #A1ACB0;}
.bottom{ width:1002px;  margin:0 auto; background-color:#FFF}
#top_content{ width:986px; margin:0 auto;}
#spanKeyWords{ float:left; color:#851628; line-height:22px; height:22px;}
#date{height:26px; text-align:right; background-image:url(/images/TopDate.gif); border-bottom:solid 1px #ccc;}
#logo{ background-image:url(/images/logoinline.gif); height:88px; vertical-align:top;border:solid 1px #A1ACB0}
#banner{height:88px; border-top: solid 3px #900 ; width:100%; margin-top:1px}
#menu{ width:320px;}
#login{ width:300px; text-align:right; }
#tableMenu{ width:100%;}
#tableMenu td{ text-align:center; height:20px;}
#login_A{ width:100%; }
#tdusername{ width:90px; height:25px;}
#tdpassWord{ width:90px; height:25px;}
#userName{ width:120px; border:solid 1px #9F4D5C;}
#ValidateCode{width:52px;}
#passWord{ width:120px;border:solid 1px #9F4D5C;}
#btnLogin{ width:65px; height:50px;background-image:url(/images/loginbtn.gif); background-position:-1px -3px; border:0}
#tdbtn{ text-align:center; vertical-align:top; }
#tbafterlogin{width:96%; border-collapse:collapse; margin:0 0 0 5px;}
#tbafterlogin td{ height:20px; border:dotted 1px #ccc}
#tbsearchbar{ margin:0 auto; width:986px;}
#search{ height:30px;border:solid 1px #9F4D5C; width:100%; background-image:url(/images/bgSearch.gif); margin-top:3px;}
#tdselect{ width:100px;}
#searchType{ margin-left:5px;}
#tdinput{ width:280px;}
#btnsearch{ width:44px; height:23px; background-image:url(/images/btnSearch.gif); background-position:0px  -5px; border:0px; margin-top:1px;}
#tdbtnsearch{width:65px; text-align:center }
#keyword{ width:280px; margin-left:10px;}
#tdhotword{ color:#D5B7BD}
#divsearchbar{ margin-top:8px; margin-left:5px;}
#tdhotword{ color:#D5B7BD}
.tdbanner{ height:102px; text-align:center;}
.tdbanner img{ width:984px; height:102px; margin-top:1px;}
.tdadvboder{ border:solid 1px #A1ACB0;}
#advsearch{ margin-top:5px; margin-left:5px; }
#hot_tb{ width:98%; margin:0 auto;}
#hot_title{ height:30px;font-size:14px; border-bottom:solid 1px #900; color:#900  }
#tdcontent{height:240px;}
#divcontent{ margin:5px;}
#news_list{width:100%; margin-top:5px; }
#news_list td{ height:23px;}
#tbtitle{ margin:2px auto;border:solid 1px #91B0D5; width:986px; height:30px; background-image:url(/images/bg4.jpg)}
#tb_hotnews{ width:986px; margin:0 auto;border:solid 1px #91B0D5; height:325px;}
#book{ width:99%; height:325px;}
#tbbook{border:solid 1px #ccc; width:98%; margin:5px auto; height:325px;}
#tb_hotnewsleft{ width:715px;border:solid 1px #91B0D5; text-align:right}
#tb_hotnewsleft_tb{ width:100%;border:solid 1px #91B0D5; height:325px;}
#tb_hotnewsleft_tb_title{ height:30px;border:solid 1px #91B0D5;}
.tablelist{ width:986px;border:solid 1px #91B0D5; margin:3px auto;}
.title{ border-bottom: dotted 1px #996; height:30px; line-height:30px; background-image:url(/images/bg4.jpg);}
.title img{ margin:0 2px}
.tablelist{ border:solid 1px #996; height:540px; width:986px; border-collapse:collapse;}
#noticetitle{ height:30px; border:solid 1px #A1ACB0; background-image:url(/images/bg4.jpg); border-left:0;}
#noticecontent{ border:solid 1px #A1ACB0; height:272px; border-left:0; line-height:24px; color:Red; text-indent:2em;}
.unittd{border:solid 1px #91B0D5; width:325px; vertical-align:top; text-align:left; height:270px; border-collapse:collapse}
.tablelist .tablelistline{ width:100%}
.tablelist .tablelistline td{ height:24px;}
.advbanner{ width:986px; margin:2px auto;border:solid 1px #ccc;}
.advbanner img{ width:986px; height:102px;}
#linkpic{ width:986px;margin:2px auto;border:solid 1px #ccc; height:55px; text-align:center}
#linkpic img{ width:92px; height:35px; border:solid 1px #ccc}
.linktitle{ width:986px; height:30px;border:solid 1px #ccc; margin:0 auto;}
#b_title_linkText{height:auto; width:980px; margin:0 auto; border:solid 1px #ccc; margin:2px auto; padding:2px;}
#b_title_linkText li{ display:inline; line-height:18px; margin:0px 2px; color:#801326;}
#copyRight{ width:986px; border-top:solid 1px #ccc; margin:8px auto 0 auto ;}
#tdcopyRight{ text-align:center; color:#801326; padding-top:5px; line-height:24px;}
.book_pic{ width:100px;text-align:center}
.bgbook{ width:95px; height:126px;border:solid 1px #ccc; text-align:center; vertical-align:middle;}
.discript td{width:110px; height:126px;border:solid 1px #ccc; line-height:20px; padding:2px 0 0 1px}
.dh_title{ height:30px; text-align:center; font-size:14px; letter-spacing:2px; border-bottom: dotted 1px #91B0D5; color:#FF6600; font-weight:bolder }
.keyword{ line-height:24px; color:#F60}
#tbdh{ width:98%}
#More_title{ width:100%; border:0;}
#Tutorials{ text-align:right; padding-right:2px;}
#Tutorials a{ color:#D9230E; height:20px; line-height:20px;}
/*以下是内页样式*/
#nei_body{width:1002px; background-color:#FFF; margin:0 auto;}
#nei_content{height:500px; line-height:24px;text-align:left;vertical-align:top; }
.nei_title{ height:30px; width:984px; margin:0 auto; border:solid 1px #ccc; background-image:url(/images/bg4.jpg); }
#nei_tbcenter{ margin:0 auto 2px auto; }
#nei_content_left{height:700px; width:700px; border-right:0; text-align:left; vertical-align:top; }
#nei_content_right{ width:283px; background-color:#F3F6FB  }
.nei_rightList{ width:270px; margin-top:5px; margin-bottom:5px;}
#nei_tbtitle{ margin: 0 auto 2px auto;}
.c_title{ height:30px; background-color:#FFF; border:solid 1px #CCC; }
.nei_Right_Content{height:230px; border:solid 1px #CCC; background-color:#FFF; text-align:left; vertical-align:top;}
.nei_gb_banner{ margin:5px auto 0 auto;}
.bgwhite{background-color:White;}
/*新闻详细页面样式*/
.tb_title{ width:98%; margin:2px auto;}
#td_title{ height:37px; border-bottom:dotted 1px #ccc; text-align:center; font-weight:bolder; font-size:16px; color:#0B5C87;}
#td_date{ height:30px;border:0; text-align:center;}
.td_brief{border:solid 1px #ccc; background-color:#F7FCFF; padding:3px 3px 3px 3px; line-height:20px;}
#td_content{ height:620px; vertical-align:top; text-align:left; line-height:22px; padding:3px; border-bottom:dotted 1px #ccc; table-layout:fixed; overflow:hidden;}
#bottomoption { border:solid 1px #F7FCFF;}

/*教程章节页面样式*/
.td_brief_all{border:solid 1px #ccc; background-color:#F7FCFF; padding:3px 3px 3px 3px; line-height:20px;}
.td_brief{border:solid 1px #ccc; background-color:#F7FCFF; padding:3px 3px 3px 3px; line-height:20px; width:228px;}
.font14{ color:#084675; font-size:14px; font-weight:bolder}
.fontred{ color:#851628;}
#Tutorials_brief{ margin-top:5px;}

/*教程观看页面*/
#TutorialsView{ margin:0 auto;}
.nei_tbcenter{ margin:0 auto 2px auto; }
/*注册界面*/
#tbreg{ width:98%;margin:5px auto;}
#tbreg td{height:30px; border:solid 1px #ccc;  }
#RelationList{ list-style:none;}
#RelationList li{ float:left; width:226px;}


/*
BBS
*/
.bbstable{ width:98%; border-collapse:collapse; margin:5px auto; color:#00517C}
.bbstable a{color:#00517C}
.bbstablePager{ width:98%; border-collapse:collapse; margin:0px auto;}
.bbstable td{ border:solid 1px #8FC002; height:24px; background-color:White;}
.bbstable td.height60{ border:solid 1px 8FC002; height:24px; background-color:White; height:60px;}
.bbstablePager td{ border:solid 1px #ccc; height:24px; background-color:White;}
#relation{ margin-top:2px;}
#replay{ margin-top:2px;}
#nei_content_left{ background-color:#F3F6FB;}
._bbstitle{ border:0; width:100%}
._bbstitle td{ border:0;}
.width20{ width:20px;}
.width30{ width:30px;}
.width40{ width:40px;}
.width50{ width:50px;}
.width60{ width:60px;}
.width70{ width:70px;}
.width71{ width:71px;}
.width72{ width:72px;}
.width73{ width:73px;}
.width74{ width:74px;}
.width75{ width:75px;}
.width80{ width:80px;}
.width90{ width:90px;}
.width100{ width:100px;}
.width110{ width:110px;}
.width120{ width:120px;}
.width130{ width:130px;}
.width140{ width:140px;}
.width150{ width:150px;}
.width160{ width:160px;}
.width170{ width:170px;}
.width180{ width:180px;}
.width200{ width:200px;}
.width300{ width:300px;}
.width400{ width:400px;}
.paddleft1{ padding-left:1px;}
.paddleft2{ padding-left:2px;}
.paddleft3{ padding-left:3px;}
.paddleft4{ padding-left:4px;}
.paddleft5{ padding-left:5px;}
.paddleft6{ padding-left:6px;}
.paddleft7{ padding-left:7px;}
.paddleft8{ padding-left:8px;}
.paddleft9{ padding-left:9px;}
.paddleft10{ padding-left:10px;}
.paddleft11{ padding-left:11px;}
.paddleft12{ padding-left:12px;}
.paddleft13{ padding-left:13px;}
.paddleft14{ padding-left:14px;}
.paddleft15{ padding-left:15px;}
.paddingtop1{ padding-top:1px}
.paddingtop2{ padding-top:2px}
.paddingtop3{ padding-top:3px}
.paddingtop4{ padding-top:4px}
.paddingtop5{ padding-top:5px}
.paddingtop6{ padding-top:6px}
.paddingtop7{ padding-top:7px}
.paddingtop8{ padding-top:8px}
.paddingtop9{ padding-top:9px}
.paddingtop10{ padding-top:10px}
.height18{ height:18px;}
.height19{ height:19px;}
.height20{ height:20px;}
.height21{ height:21px;}
.height22{ height:22px;}
.height23{ height:23px;}
.height24{ height:24px;}
.height25{ height:25px;}
.height26{ height:26px;}
.height27{ height:27px;}
.height28{ height:28px;}
.height29{ height:29px;}
.height30{ height:30px;}
.height31{ height:31px;}
.height32{ height:32px;}
.height33{ height:33px;}
.height34{ height:34px;}
.height35{ height:35px;}
.height36{ height:36px;}
.height37{ height:37px;}
.height38{ height:38px;}
.height39{ height:39px;}
.height40{ height:40px;}
.height41{ height:41px;}
.height50{ height:50px;}
.height60{ height:60px;}
.height70{ height:70px;}
.height80{ height:80px;}
.height90{ height:90px;}
.height100{ height:100px;}
.height150{ height:150px;}
.height160{ height:160px;}
.height170{ height:170px;}
.height180{ height:180px;}