@charset "gb2312";
/* CSS Document */
html, body { width:100%; height:100%; margin:0; padding:0;font-size:12px; }
a { color:#666; text-decoration:none; font-size:12px; }
a:hover { color:#333; }
ul, li, dl, dt, dd, img, div{ margin:0; padding:0; }
ul, li { list-style:none; }
img { border:0; }
.air { height:10px; clear:both; overflow:hidden; }
.clear { height:0; clear:both; overflow:hidden; }
/*New Nav Style*/
#nav_wrap { width:100%;margin:0 auto;clear:both;background:url(nav_bg.gif) repeat-x; }
#nav{  background:url(nav_bg.gif) repeat-x; height:39px; position:relative; width:948px; margin:0 auto; }
#nav .bt_qnav { float:right; padding:7px 5px 0 0; }
#nav .c{ float:left}
#nav li { float:left; }
#nav li .v a{ width:100px;height:39px; line-height:33px; text-align:center;display:block; color:#FFF; background:url(nav_line.gif) no-repeat right; float:left; font-family:Verdana, Arial, Helvetica, sans-serif, 'ו';}
#nav li .v a:hover,#nav li .v .sele{background:url(nav_hover.gif) no-repeat; background-position:center; color:#116406; font-weight:bold; line-height:42px;}
.kind_menu { height:auto;border-top:0; line-height:30px; top:38px; left:0; text-align:left; display:none;color:#656565; z-index:1000; padding:5px; }
.kind_menu a {color:#656565; float:left; padding:0 10px;  }
.kind_menu a:hover { color:#0d5703; }
.kind_menu span { width:1px; height:20px;color:#dedede; font-size:10px; float:left; }
#tmenu{ background:url(nav_bg1.gif) repeat-x bottom; height:28px; border:1px solid #eee; border-top:none; }